# Angular specific
/front-end/dist/
/front-end/out-tsc/
/front-end/tmp/
/front-end/coverage/
/front-end/e2e/test-output/
/front-end/.angular/
/front-end.angular/
/front-end/bazel-out

# Node modules and dependency files
/front-end/node_modules/
/front-end/package-lock.json
/front-end/yarn.lock

# Environment files
/front-end/.env

# Angular CLI and build artefacts
/front-end/.angular-cli.json
/front-end/.ng/

# TypeScript cache
/front-end/*.tsbuildinfo

# Logs
/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*

# Miscellaneous
/front-end/.angular/cache
/front-end.sass-cache/
/front-end/connect.lock
/front-end/coverage
/front-end/libpeerconnection.log
/front-end/testem.log
/front-end/typings

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db
