.header {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px); /* Safari Support */
  backdrop-filter: blur(20px);
  border-radius: 16px;
  padding: 20px 30px;
  margin-bottom: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.logo-pointer h1, p {
  color: white;
  cursor: pointer;
}

.logo-text h1 {
  margin-bottom: 2px;
}

.logo-text p, span {
  color: white;
  font-size: 20px;
  margin-bottom: 0;
}

.rounded-circle {
  border-radius: 50%;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
